Repository operate-first/community, pull requests merged in 2022-10, with the labels that each got.

#224 Create 20221006-meeting-notes.md
  sig-community/meeting-notes/20221006-meeting-notes.md
Labels: kind/documentation, lgtm, approved, size/M, sig/community

#228 pre-commit to clean up existing errors (trailing-whitespace)
  sig-community/meeting-notes/20221006-meeting-notes.md
Labels: lgtm, triage/accepted, approved, priority/critical-urgent, size/XS, area/user, kind/governance, sig/community

#229 add knikolla and cleanup
  OWNERS
Labels: lgtm, triage/accepted, approved, priority/critical-urgent, size/S, area/user, kind/governance, sig/community

#219 Clean-up and addition of how-to-naming details
  glossary.md
Labels: size/L, lgtm, approved
