Repository operate-first/community, pull requests merged in 2022-07, with the labels that each got.

#203 WG Proposal: Transfer meetup from OSG to OPF
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-meetup-transfer/README.md
  wg-meetup-transfer/charter.md
Labels: kind/documentation, size/L, lgtm, sig/docs, kind/cleanup, approved

#211 Create 20220725-meeting-notes.md
  sig-community/wg-contrib_x-docs/meeting-notes/20220725-meeting-notes.md
Labels: size/S

#212 Create 2022-07-26_meeting-nodes.md
  sig-community/wg-website-updates/meeting-notes/20220719_meeting-nodes.md
  sig-community/wg-website-updates/meeting-notes/20220726_meeting-nodes.md
Labels: kind/documentation, approved, size/S, kind/website, sig/community
